<!DOCTYPE html>
<html lang="pt-br">
<head th:replace="~{layout :: head}">
    <title>Cadastro de Material</title>
</head>
<body>
<header>
    <div th:replace="~{layout :: nav}"></div>
</header>
<main class="container mt-4">
    <h1>Novo Material</h1>
    <p>Preencha o formulário abaixo. Verifique os campos obrigatórios.</p>
    <form th:action="@{/material/novo}" method="post" th:object="~{materialDTO}">
        <div class="form-floating mb-3">
            <input class="form-control" type="number" id="numPat" name="numPat" th:field="~{materialDTO.numPat}" placeholder="Número Patrimonial" required>
            <label for="numPat">Número Patrimonial</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" type="text" id="nome" name="nome" th:field="*{materialDTO.nome}" placeholder="Nome" required>
            <label for="nome">Nome</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" type="text" id="descricao" name="descricao" th:field="*{materialDTO.descricao}" placeholder="Descrição" required>
            <label for="descricao">Descrição</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" type="text" id="numeroSerie" name="numeroSerie" th:field="*{materialDTO.numeroSerie}" placeholder="Número de Série">
            <label for="numeroSerie">Número de Série</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" type="text" id="marca" name="marca" th:field="*{materialDTO.marca}" placeholder="Marca">
            <label for="marca">Marca</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" type="text" id="local" name="local" th:field="*{materialDTO.local}" placeholder="Local">
            <label for="local">Local</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" type="text" id="compartimento" name="compartimento" th:field="*{materialDTO.compartimento}" placeholder="Compartimento">
            <label for="compartimento">Compartimento</label>
        </div>
        <div class="form-check form-switch mb-3">
            <input class="form-check-input" type="checkbox" role="switch" id="ativo" th:field="*{materialDTO.ativo}">
            <label class="form-check-label" for="ativo">Ativo</label>
        </div>
        <div class="my-3 d-grid gap-2 col-3 mx-auto">
            <button class="btn btn-primary" type="submit">Cadastrar</button>
        </div>
    </form>
</main>
<div th:replace="~{layout :: footer}"></div>
<div th:replace="~{layout :: canvas_modais_scripts}"></div>
</body>
</html>