<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/bootstrap/icons/bootstrap-icons.min.css" th:href="@{/bootstrap/icons/bootstrap-icons.min.css}">
    <link rel="stylesheet" href="../static/bootstrap/css/styles.css" th:href="@{bootstrap/css/syltes.css}">
    <link rel="stylesheet" href="../static/bootstrap/css/fonts.css" th:href="@{bootstrap/css/fonts.css}">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-bg-custom bg-gradient navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand px-2" href="#">My Inventory</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item px-2">
                        <a class="nav-link text-center" aria-current="page" href="#"><i
                                class="bi bi-house fs-5"></i><br>Home</a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link text-center" aria-current="page" href="#" data-bs-toggle="offcanvas"
                           data-bs-target="#menuMaterial"
                           aria-controls="offcanvasRight"><i class="bi bi-collection fs-5"></i><br>Materiais</a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link text-center" aria-current="page" href="#" data-bs-toggle="offcanvas"
                           data-bs-target="#menuUsuarios"
                           aria-controls="offcanvasRight"><i class="bi bi-people fs-5"></i><br>Usuários</a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link text-center" aria-current="page" href="#" data-bs-toggle="modal"
                           data-bs-target="#modalLogout"><i class="bi bi-escape fs-5"></i><br>Logout</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control-search-custom me-2" type="search" placeholder="Buscar"
                           aria-label="Buscar">
                    <button class="btn btn-color-custom" type="submit">Buscar</button>
                </form>
            </div>
        </div>
    </nav>
</header>

<div layout:replace="conteudo">

</div>

<footer class="bg-dark text-white text-center py-3 fixed-bottom">
    <p>2023 <i class="bi bi-c-circle"></i> M4 Systems - My Inventory. Todos os direitos reservados.</p>
</footer>

<!--Canvas-->
<div class="offcanvas offcanvas-end navbar-bg-custom bg-gradient text-white ps-2" tabindex="-1" id="menuMaterial"
     aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h4 class="offcanvas-title fs-3 fw-bold" id="menuMaterialLabel"><i class="bi bi-collection"></i> Materiais</h4>
        <button type="button" class="btn-close bg-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li>
                <a class="nav-link fs-5 py-3" aria-current="page" href="#"><i class="bi bi-list"></i> Listar</a>
            </li>
            <li>
                <a class="nav-link fs-5 py-3" aria-current="page" href="#"><i class="bi bi-plus-circle"></i> Incluir</a>
            </li>
            <li>
                <a class="nav-link fs-5 py-3" aria-current="page" href="#"><i class="bi bi-pencil-square"></i>
                    Editar</a>
            </li>
            <li>
                <a class="nav-link fs-5 py-3" aria-current="page" href="#"><i class="bi bi-x-circle"></i> Excluir</a>
            </li>
        </ul>
    </div>
</div>
<div class="offcanvas offcanvas-end navbar-bg-custom bg-gradient text-white ps-2" tabindex="-1" id="menuUsuarios"
     aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h4 class="offcanvas-title fs-3 fw-bold" id="menuUsuariosLabel"><i class="bi bi-people"></i> Usuários</h4>
        <button type="button" class="btn-close bg-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li>
                <a class="nav-link fs-5 py-3" aria-current="page" href="#"><i class="bi bi-person-lines-fill"></i>
                    Listar</a>
            </li>
            <li>
                <a class="nav-link fs-5 py-3" aria-current="page" href="#"><i class="bi bi-person-add"></i> Incluir</a>
            </li>
            <li>
                <a class="nav-link fs-5 py-3" aria-current="page" href="#"><i class="bi bi-person-fill-gear"></i>
                    Editar</a>
            </li>
            <li>
                <a class="nav-link fs-5 py-3" aria-current="page" href="#"><i class="bi bi-person-fill-x"></i>
                    Excluir</a>
            </li>
        </ul>
    </div>
</div>

<!--Modais-->
<div class="modal fade" id="modalLogout" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content body-modal">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Logout</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Deseja realmente sair do sistema?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="window.location.href = '/login';">Sim</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Não</button>
            </div>
        </div>
    </div>
</div>

<script src="/static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>