<!DOCTYPE html>
<html lang="en">
<head th:replace="~{layout :: head}">
    <title>Lista de Materiais cadastrados</title>
</head>
<body>
<header>
    <div th:replace="~{layout :: nav}"></div>
</header>
<main class="container-fluid mt-4">
    <h2 class="mb-4">Materiais Cadastrados</h2>
    <table class="table table-hover table-responsive text-center">
        <thead>
        <tr>
            <th>ID</th>
            <th>NumPat</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Número de Série</th>
            <th>Marca</th>
            <th>Localização</th>
            <th>Compartimento</th>
            <th>Ativo</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="material : ${materiais}">
            <td th:text="${material.id}"></td>
            <td th:text="${material.numPat}"></td>
            <td th:text="${material.nome}"></td>
            <td th:text="${material.descricao}"></td>
            <td th:text="${material.numeroSerie}"></td>
            <td th:text="${material.marca}"></td>
            <td th:text="${material.localizacao}"></td>
            <td th:text="${material.compartimento}"></td>
            <td th:text="${material.ativo}"></td>
            <td class="text-center">
                <div class="grid">
                    <a th:href="@{/material/editar(id = ${material.id})}" class="btn btn-primary">
                        <i class="color-bi bi-pencil-square"></i>
                    </a>
                    <a type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#infoMaterial">
                        <i class="bi bi-info-square"></i>
                    </a>
                    <a th:href="@{/material/excluir(id = ${material.id})}" class="btn btn-danger">
                        <i class="color-bi bi-x-square"></i>
                    </a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</main>
<div th:replace="~{layout :: footer}"></div>
<div th:replace="~{layout :: canvas_modais}"></div>
<div class="modal fade" id="infoMaterial" tabindex="-1" aria-labelledby="modal-info-material-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-info-material-label">Informações do Material</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-hover table-responsive text-center" th:each="material : ${materiais}">
                    <tr>
                        <th>ID</th>
                        <td th:utext="${material.id}"></td>
                    </tr>
                    <tr>
                        <th>NumPat</th>
                        <td th:utext="${material.numPat}"></td>
                    </tr>
                    <tr>
                        <th>Nome</th>
                        <td th:utext="${material.nome}"></td>
                    </tr>
                    <tr>
                        <th>Descrição</th>
                        <td th:utext="${material.descricao}"></td>
                    </tr>
                    <tr>
                        <th>Número de Série</th>
                        <td th:utext="${material.numeroSerie}"></td>
                    </tr>
                    <tr>
                        <th>Marca</th>
                        <td th:utext="${material.marca}"></td>
                    </tr>
                    <tr>
                        <th>Localização</th>
                        <td th:utext="${material.localizacao}"></td>
                    </tr>
                    <tr>
                        <th>Compartimento</th>
                        <td th:utext="${material.compartimento}"></td>
                    </tr>
                    <tr>
                        <th>Ativo</th>
                        <td th:utext="${material.ativo}"></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    // Lê o objeto do backend
    const material = await axios.get("/material/info/${materialId}");

    // Atribui o objeto ao modal
    document.querySelector("#modal-info-material").querySelector("th:object").setAttribute("th:object", material);
</script>
<div th:replace="~{layout :: scripts}"></div>
</body>
</html>
